{% extends 'books/index.html' %}
{% block content %}

    <div id="register">
        <h1>Login</h1>

        <form id="login_form" method="post" action="{% url 'my_auth:login_view' %}">
            {% csrf_token %}
            username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
    </div>
{% endblock %}