<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Title</title>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'books/css/style.css' %}">
    <script src="{% static 'books/js/main.js' %}"></script>

</head>
<body>

        {% if user.is_authenticated %}
        <h3>hello, {{ user.username }}!</h3>
        {% else %}
        <h3>hello, user!</h3>
        {% endif %}

        {% if user.is_authenticated %}
        <a href="/my_auth/logout/">Logout</a><br />
        {% else %}
        <a href="{% url 'my_auth:login_view' %}" >Sign In</a>
        <a href="{% url 'my_auth:register_view' %}">Sign Up</a><br />
        {% endif %}




<div>
    <a href="/books/all_books/">Books</a>
    <a href="/books/authors/">Authors</a>
    <a href="/books/categories/">Category</a>
</div>

{% block content %}
{% endblock %}
</body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</html>